<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>list tours</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        Направления:
        <a href="{{a}}/0">По стране</a>
        <a href="{{a}}/1">За границу</a>
        <a href="{{a}}/2">Во времени</a>
        <div>
            <p>{{name}}</p>
            <p>{{desc}}</p>
            <p>{{dats}}</p>
            <a style="display: block;" href="{{b}}/one_tour/2">Перейти</a>
        </div>
    </body>
</html>