<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>list tours</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        Направления:
        <a href="{{a}}/0">По стране</a>
        <a href="{{a}}/1">За границу</a>
        <a href="{{a}}/2">Во времени</a>
        <div>
            <p>{{name0}}</p>
            <p>{{desc0}}</p>
            <p>{{dats0}}</p>
            <a style="display: block;" href="{{b}}/one_tour/0">Перейти</a>
        </div>
        <div>
            <p>{{name1}}</p>
            <p>{{desc1}}</p>
            <p>{{dats1}}</p>
            <a style="display: block;" href="{{b}}/one_tour/1">Перейти</a>
        </div>
    </body>
</html>